{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comments</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ comment.user }}</td>
            </tr>
            <tr>
                <th>Travel</th>
                <td>{{ comment.travel }}</td>
            </tr>
            <tr>
                <th>Datepublication</th>
                <td>{% if comment.datePublication %}{{ comment.datePublication|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment.content }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comments_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comments_edit', { 'id': comment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
