{% extends 'base.html.twig' %}

{% block body %}
    <h1>Coordonnees list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Users</th>
                <th>Adressstreet</th>
                <th>Adressnum</th>
                <th>Adressbox</th>
                <th>Adresszip</th>
                <th>Adresscountry</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coordonnee in coordonnees %}
            <tr>
                <td><a href="{{ path('coordonnees_show', { 'id': coordonnee.id }) }}">{{ coordonnee.id }}</a></td>
                <td>{{ coordonnee.users }}</td>
                <td>{{ coordonnee.adressStreet }}</td>
                <td>{{ coordonnee.adressNum }}</td>
                <td>{{ coordonnee.adressBox }}</td>
                <td>{{ coordonnee.adressZip }}</td>
                <td>{{ coordonnee.adressCountry }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('coordonnees_show', { 'id': coordonnee.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('coordonnees_edit', { 'id': coordonnee.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('coordonnees_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
