{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commande list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Trajet</th>
                <th>Users</th>
                <th>Validation</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                <td>{{ commande.Trajet }}</td>
                <td>{{ commande.Users }}</td>
                <td>{{ commande.validation }}</td>
                <td>{{ commande.statut }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commande_show', { 'id': commande.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commande_edit', { 'id': commande.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commande_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
