{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datemessage</th>
                <th>Sujet</th>
                <th>Content</th>
                <th>Recipientid</th>
                <th>Senderid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': message.id }) }}">{{ message.id }}</a></td>
                <td>{% if message.dateMessage %}{{ message.dateMessage|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ message.sujet }}</td>
                <td>{{ message.content }}</td>
                <td>{{ message.recipientId }}</td>
                <td>{{ message.senderId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('message_show', { 'id': message.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('message_edit', { 'id': message.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('message_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
