{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Datemessage</th>
                <td>{% if message.dateMessage %}{{ message.dateMessage|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ message.sujet }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ message.content }}</td>
            </tr>
            <tr>
                <th>Recipientid</th>
                <td>{{ message.recipientId }}</td>
            </tr>
            <tr>
                <th>Senderid</th>
                <td>{{ message.senderId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('message_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('message_edit', { 'id': message.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
