{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marque list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Marquename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td><a href="{{ path('marque_show', { 'id': marque.id }) }}">{{ marque.id }}</a></td>
                <td>{{ marque.marqueName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('marque_show', { 'id': marque.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('marque_edit', { 'id': marque.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('marque_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
