<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="{{asset('bundles/framework/css/style.css')}}" />
        <title>{% block title %}{% endblock %} - CareforYou</title>
    {% endblock %}
</head>
<body>
<main class="container">
    <header>
        {{ knp_menu_render('CFCarBundle:Builder:mainMenu') }}
        <img src="{{asset('bundles/framework/images/banner.png')}}" class="banner"/>

        <h1><img src="{{asset('bundles/framework/images/logo.png')}}"/>ar for You</h1>
        <aside>
            <ul class="social-link">
                <li><a href="#"><img src="{{asset('bundles/framework/images/facebook.png')}}"/></a></li>
                <li><a href="#"><img src="{{asset('bundles/framework/images/twitter.png')}}"/></a></li>
                <li><a href="#"><img src="{{asset('bundles/framework/images/instagram.png')}}"/></a></li>
                <li><a href="#"><img src="{{asset('bundles/framework/images/google-plus.png')}}"/></a></li>
            </ul>
            <form>
                <input type="search" name="search">
                <input type="submit" value="rechercher">
            </form>
        </aside>
    </header>
    <footer></footer>
</main>


</body>
</html>
